.hero-text a {
  color: white;
}

.menu {
  background-color: #b5b0b0;
}

select {
  background-color:white;
  padding:5px;
  width:100%;
  text-align: center;
}

.productfoto {
  transform: rotate(180deg);
}
.filter-search {
  background-color: white;
  width: 100%;
  padding: 5px;
}
@media only screen and (min-width: 600px) {
.menucontainer {
  padding-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 8%;
}
}


a {
  color:green;
}
#collectietekst h1 {
  padding-top: 10%;
  font-size:4em;
  text-align: center;
  color: #0000005e;
  /*color: #3e3f3a;*/
  font-family: Tangerine;

}
.container-fluid {
  padding-top: 0%;
}


img {
  width: 100%;
  background-size: cover;
  transform:rotate(180deg);
}


.hero-image {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../media/product_images/castle-1275465_960_720.jpg");*/
  /*height: 50%;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.menu h3 {
  text-align: center;
  
}
