{% extends "base.html" %}
{% load static %} 
{% load bootstrap_tags %} 
{% block head_style %} 
{{ block.super }}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/product_detail.css' %}" type="text/css" /> 
{% endblock %} 
{% block content %}
    

  
        <div class="productbeschrijving col-lg-12">
              
        </div>
        <div class="col-sm-6">
          <div class="card mt-4">
            <img id="0" class="preview normal" class="card-img-top img-fluid" src="{{MEDIA_URL}}{{product.image}}" alt="">
           </div>
        {% for image in product_images %}
        <div class="row">
        <div class="col-sm-12">
          <div class="extraimages">
            {% if forloop.counter == 1 %}
            <div class="col-sm-4">
            <img width="100%" id="1" class="thumb normal" src="{{MEDIA_URL}}{{image.image}}" alt="" onmouseover="preview(this)">
            </div>
            {% endif %}
            {% if forloop.counter == 2 %} 
            <div class="col-sm-4">
            <img width="100%" id="2" class="thumb normal" src="{{MEDIA_URL}}{{image.image}}" alt="" onmouseover="preview(this)">
            </div>
            {% endif %}
            {% if forloop.counter == 2 %}
            <div class="col-sm-4">
            <img width="100%" id="3" class="thumb normal" src="{{MEDIA_URL}}{{image.image}}" alt="" onmouseover="preview(this)">
            </div>
            {% endif %}
        
          </div>
          </div>
         </div>
        {% endfor %}
        <table>
      <tr>
        <th><h4> Titel:</h4></th>
        <th><h4> {{product.name}}</h4></th>
        </tr>
        </table>
            <div class="card-body">
              <h4>€{{product.price}}</h4>
              <p class="card-text">{{product.description}}</p>
              </div>
              
            </div>
    
          <!-- /.card -->
        <div class="gegevens col-sm-6 ">
        <table>
        
        
        <tr>
        <th><h4> Prijs Kunstwerk</h4></th>
        <th><h4> €{{product.price}}</h4></th>
        </tr>
        <tr>
        <th><h4> Betaalvorm</h4></th>
        <th><h4>{{product.get_prijstype_display}}</h4></th>
        </tr>
        <tr>
        <th><h4> Oriëntatie Kunstwerk</h4></th>
        <th><h4>{{product.get_oriëntatie_display}}</h4></th>
        </tr>
        <tr>
        <th><h4> Gebruikte techniek</h4></th>
        <th><h4>{{product.get_techniek_display}}</h4></th>
        </tr>
        <tr>
        <th><h4> Stijl</h4></th>
        <th><h4>{{product.get_stijl_display}}</h4></th>
        </tr>
        <tr>
        <th><h4> Ingelijst</h4></th>
        <th><h4>{{product.get_lijst_display}}</h4></th>
        </tr>
        <tr>
        <th><h4> Ingelijst</h4></th>
        <th><h4>{{product.get_lijst_display}}</h4></th>
        </tr>
         <tr>
        <th><h4> Horizontale lengte in cm</h4></th>
        <th><h4>{{product.lengthcm}}</h4></th>
        </tr>
         <tr>
        <th><h4> Verticale lengte in cm</h4></th>
        <th><h4>{{product.widthcm}}</h4></th>
        </tr>
        </table>
      </div> 
     
         
          
        
        <!-- /.col-lg-9 -->
<div class="container">
  <div class="row">
    <div class= "col-sm-4">
       <img class="card-img-top img-fluid" src="{{MEDIA_URL}}{{artist.image}}" alt=""><br>
       </div>
      <p>{{artist.description}}</p>
      
  </div>
  </div> 
 <script>
    var lastImg = 1; // Set initial thumbnail and preview document.getElementById(0).src =
    // document.getElementById(lastImg).src;
    document.getElementById(lastImg).className = "thumb selected";

    function preview(img) {
      document.getElementById(lastImg).className = "thumb normal";
      img.className = "thumb selected";
      document.getElementById(0).src = img.src;
      lastImg = img.id
    }
  </script>
{% endblock content %}